.post-form {
  background: #0d0d0d;
  border: 2px solid #806579; /* фирменный красный F1 */
  border-radius: 12px;
  padding: 16px;
  margin: 20px auto;
  margin-top: 100px;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(170, 89, 170, 0.4);
  font-family: 'Arial', sans-serif;
}

.post-form textarea {
  width: 100%;
  min-height: 80px;
  border: none;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  outline: none;
  font-size: 14px;
  background: #1a1a1a;
  color: white;
}

.image-preview {
  margin-top: 12px;
}

.image-preview img {
  max-width: 100%;
  border-radius: 8px;
  border: 2px solid #806579; 
}

.form-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-button {
  background: none;
  border: 2px solid #806579; 
  color: #806579; 
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.media-button:hover {
  background: #e10600;
  color: white;
}

.submit-button {
  background: #e10600;
  border: 1px solid #806579;
  color: white;
  padding: 8px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.submit-button:hover {
  background: #ff1c10;
}
