.post-form {
  background: #0d0d0d;
  border: 2px solid #806579; 
  border-radius: 12px;
  padding: 16px;
  margin: 20px 0;
  width: 100%;           
  max-width: 600px;      
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.5); 
  font-family: 'Titillium Web', sans-serif;
}

.post-form textarea {
  width: 100%;
  min-height: 55px;
  border: none;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  outline: none;
  font-size: 14px;
  background: #1a1a1a;
  color: white;
}

.image-preview {
  margin-top: 12px;
  position: relative;
  display: inline-block;
}

.image-preview img {
  max-width: 100%;
  border-radius: 8px;
  border: 2px solid #806579; 
  display: block;
}

.form-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-button {
  background: none;
  border: 2px solid #806579; 
  color: #806579; 
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.media-button:hover {
  background: #e10600;
  color: white;
}

.submit-button {
  font-family: 'Titillium Web', sans-serif;
  background: #e10600;
  border: 1px solid #806579;
  color: white;
  padding: 8px 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.submit-button:hover {
  background: #ff1c10;
}


.close-image-preview {
  position: absolute;
  top: 10px;    
  left: 10px;   
  border: 2px solid #806579;
  color: #806579;
  background: rgba(0, 0, 0, 0.5); 
  padding: 4px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.close-image-preview:hover {
  background: #e10600;
  color: white;
}
