.feed-layout {
  display: grid;
  grid-template-columns: 20px 1fr; 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 48px;
}

.feed-layout > .search-bar {
  display: flex;
  justify-content: flex-start;
}

.feed-main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
  width: 100%;
}

.feed-container {
  max-width: 600px;  
  width: 100%;
  margin: 0 auto;
  margin-top: -20px;
}


/* Loading and error states */
.loading, .error {
  margin-top: 150px;
  text-align: center;
  font-weight: 750;
  padding: 40px;
  font-size: 16px;
  color: #8e8e8e;
}

.error {
  color: #ed4956;
}


